@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;500&family=Source+Code+Pro:wght@300&display=swap');

:root{
    --font-poppins: 'Poppins', sans-serif;
    --font-montserrat:'Montserrat', sans-serif;
    --font-codepro: 'Source Code Pro', monospace;

    --rojo:red;
    --verde:green;
    --white:white;
    --black:black;
    --gray:rgb(152, 151, 151);
    --blue:rgb(66, 215, 238);
    --orange:#cb530b;
    --bronw:#4a1a10;

}