.buttonShop{
    background-color: transparent;
    color:var(--white);
    border: 1px solid var(--white);
    width: 150px;
    height: 60px;
    font-size: 20px;
    text-transform: uppercase;
}


